In [1]:
import pandas as pd

# Load dataset
data = pd.read_csv('../UpdatedFilteredUsedData.csv')
data.head()

C:\Users\Gunne\AppData\Local\Temp\ipykernel_39868\1480144099.py:5: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv('../UpdatedFilteredUsedData.csv')

,Year,Make,Model,Price,Mileage,Location,Additional,Fuel Type,Car Type,Scraping Time,Source
0,2021,Audi,RS7,214880,21601,NSW,*Excl. Govt. Charges,Petrol,hatch,1712976689,Drive
1,2021,Audi,RS7,214880,21601,NSW,*Excl. Govt. Charges,Petrol,hatch,1713581171,Drive
2,2021,Audi,RS7,214880,21601,NSW,*Excl. Govt. Charges,Petrol,hatch,1714183161,Drive
3,2021,Audi,RS7,214880,21601,NSW,*Excl. Govt. Charges,Petrol,hatch,1714787697,Drive
4,2021,Audi,RS7,214880,21601,NSW,*Excl. Govt. Charges,Petrol,hatch,1715394085,Drive

In [2]:
# Define the columns to check for duplicates
columns_to_check = ['Year', 'Make', 'Model', 'Price', 'Mileage', 'Location']

before_removal = len(data)

# Drop duplicates based on the specified columns
data_unique = data.drop_duplicates(subset=columns_to_check)

after_removal = len(data_unique)

removed = before_removal - after_removal
removed, after_removal

(622691, 346936)

In [3]:
# Number of listings per year for each fuel
data = data_unique

data['Fuel Type Adjusted'] = data.apply(lambda x:
                                        'Electric (Tesla)' if 'Tesla' in x['Make'] and x['Fuel Type'] == 'Electric' else
                                        ('Electric (Non-Tesla)' if x['Fuel Type'] == 'Electric' else
                                         ('Hybrid' if x['Fuel Type'] == 'Hybrid' else 'Conventional')),
                                        axis=1)

# Group by 'Year' and 'Fuel Type Adjusted' and count the number of listings
listings_by_year_fuel = data.groupby(['Year', 'Fuel Type Adjusted']).size().reset_index(name='Count')

listings_by_year_fuel

    Year    Fuel Type Adjusted  Count
0   2015          Conventional  25184
1   2015  Electric (Non-Tesla)     28
2   2015      Electric (Tesla)     37
3   2015                Hybrid    253
4   2016          Conventional  29121
5   2016  Electric (Non-Tesla)     20
6   2016      Electric (Tesla)      8
7   2016                Hybrid    352
8   2017          Conventional  35423
9   2017  Electric (Non-Tesla)     26
10  2017      Electric (Tesla)     39
11  2017                Hybrid    606
12  2018          Conventional  43346
13  2018  Electric (Non-Tesla)     97
14  2018      Electric (Tesla)     14
15  2018                Hybrid   1094
16  2019          Conventional  44379
17  2019  Electric (Non-Tesla)    185
18  2019      Electric (Tesla)     88
19  2019                Hybrid   2547
20  2020          Conventional  33633
21  2020  Electric (Non-Tesla)    180
22  2020      Electric (Tesla)     76
23  2020                Hybrid   3359
24  2021          Conventional  39515
25  2021  Electric (Non-Tesla)    518
26  2021      Electric (Tesla)    261
27  2021                Hybrid   4878
28  2022          Conventional  39223
29  2022  Electric (Non-Tesla)    821
30  2022      Electric (Tesla)    300
31  2022                Hybrid   5339
32  2023          Conventional  28672
33  2023  Electric (Non-Tesla)   1967
34  2023      Electric (Tesla)    193
35  2023                Hybrid   2460
36  2024          Conventional   2312
37  2024  Electric (Non-Tesla)    145
38  2024      Electric (Tesla)      4
39  2024                Hybrid    233

In [4]:
# Function to compute statistics of df
def compute_statistics(df):
    # Group by the adjusted fuel type
    grouped = df.groupby('Fuel Type Adjusted')

    # Calculate statistics
    stats = pd.DataFrame({
        'Number Listed': grouped.size(),
        'Number of Different Makes': grouped['Make'].nunique(),
        'Mean Mileage': grouped['Mileage'].mean(),
        'Std Mileage': grouped['Mileage'].std(),
        'Median Mileage': grouped['Mileage'].median(),
        'Mean Age': grouped['Age'].mean(),
        'Std of Age': grouped['Age'].std(),
        'Median Age': grouped['Age'].median(),
        'Mean Price': grouped['Price'].mean(),
        'Std Price': grouped['Price'].std(),
        'Median Price': grouped['Price'].median(),
    })

    return stats

# Current year to calculate the age of the vehicles
current_year = pd.Timestamp.now().year

# Add 'Age' column
data['Age'] = current_year - data['Year']

# Compute statistics for all vehicles
all_vehicle_stats = compute_statistics(data)

# Compute statistics for SUVs specifically
suv_stats = compute_statistics(data[data['Car Type'] == 'suv'])

print("All Vehicle Statistics by Fuel Type:")
print(all_vehicle_stats)

print("\nSUV Statistics by Fuel Type:")
print(suv_stats)

All Vehicle Statistics by Fuel Type:
                      Number Listed  Number of Different Makes  Mean Mileage  \
Fuel Type Adjusted
Conventional                 320808                         75  74635.362669
Electric (Non-Tesla)           3987                         29  14489.634813
Electric (Tesla)               1020                          1  32142.048039
Hybrid                        21121                         27  48147.460774

                       Std Mileage  Median Mileage  Mean Age  Std of Age  \
Fuel Type Adjusted
Conventional          60318.781237         66098.0  4.830774    2.434999
Electric (Non-Tesla)  18796.335830          6401.0  2.002508    1.563506
Electric (Tesla)      21659.864336         27035.0  3.013725    1.935619
Hybrid                32588.058745         46810.0  3.306756    1.771587

                      Median Age    Mean Price     Std Price  Median Price
Fuel Type Adjusted
Conventional                 5.0  40157.713810  40257.686739       32999.0
Electric (Non-Tesla)         1.0  84901.379985  60624.454537       77800.0
Electric (Tesla)             3.0  59828.281373  15285.439519       58480.0
Hybrid                       3.0  44717.246579  24827.302799       38488.0

SUV Statistics by Fuel Type:
                      Number Listed  Number of Different Makes  Mean Mileage  \
Fuel Type Adjusted
Conventional                 154522                         54  69197.068696
Electric (Non-Tesla)           2198                         17  13569.214286
Electric (Tesla)                346                          1  23385.927746
Hybrid                        11154                         25  43989.622198

                       Std Mileage  Median Mileage  Mean Age  Std of Age  \
Fuel Type Adjusted
Conventional          61300.465931         61766.0  4.538014    2.441433
Electric (Non-Tesla)  15966.501703          6200.0  1.885805    1.156867
Electric (Tesla)      19025.967448         17483.0  2.014451    1.644426
Hybrid                31311.502034         41343.5  2.864712    1.497326

                      Median Age    Mean Price     Std Price  Median Price
Fuel Type Adjusted
Conventional                 5.0  40908.486313  26819.334534       33489.0
Electric (Non-Tesla)         2.0  78116.199272  34931.826541       76998.5
Electric (Tesla)             2.0  67349.849711  15551.599256       61989.5
Hybrid                       3.0  52735.417787  26502.644222       44998.0